.intro_section .wrapper {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    display: block;
}

.intro_section_container {
    min-height: inherit;
}

.intro_section_img {
    width: 320px;
    height: auto;
}

.intro_section_img img {
    width: 100%;
    border-radius: 50%;
    -webkit-filter: grayscale(35%);
    -o-filter: grayscale(35%);
    filter: grayscale(35%);
}

.intro_section_content {
    width: calc(100% - 320px);
    padding-left: 30px;
}

.intro_section_content > h1 {
    padding-bottom: 20px;
}

.intro_section_content > p {
    padding-bottom: 30px;
}

.intro_section_content > div > a,
.intro_section_content > div > button {
    background: var(--white);
    color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: 0px;
    padding: 7px;
    font-weight: var(--normal);
    width: 140px;
    height: 40px;
    margin-right: 10px;
    font-size: 14px;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.intro_section_content > div > a:not(:first-child),
.intro_section_content > div > button:not(:first-child) {
    margin-right: 0px;
}

.intro_section_content > div > button {
    background: var(--dark);
    color: var(--white);
    border: 1px solid var(--dark);
}

body.dark .intro_section_content > div > a,
body.dark .intro_section_content > div > button {
    background: var(--dark);
    color: var(--white);
    border: 1px solid var(--white);
}

body.dark .intro_section_content > div > button {
    background: var(--white);
    color: var(--dark);
}

.intro_section_content > div > a:hover,
.intro_section_content > div > button:hover {
    background: var(--dark);
    color: var(--white);
}

body.dark .intro_section_content > div > a:hover,
body.dark .intro_section_content > div > button:hover {
    background: var(--white);
    color: var(--dark);
}


/* canon media */


/* xl */

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 1170px;
    }
}


/* lg */

@media screen and (min-width: 992px) and (max-width: 1199px) {}


/* md */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .intro_section_img {
        width: 100%;
        height: auto;
    }
    .intro_section_img img {
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .intro_section_content {
        width: 100%;
        padding-left: 0;
    }
    .intro_section_content > h1 {
        text-align: center;
        margin-top: 20px;
    }
}


/* sm */

@media screen and (min-width: 560px) and (max-width: 767px) {
    .intro_section_img {
        width: 100%;
        height: auto;
    }
    .intro_section_img img {
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .intro_section_content {
        width: 100%;
        padding-left: 0;
    }
    .intro_section_content > h1 {
        text-align: center;
        margin-top: 20px;
    }
}


/* xs */

@media screen and (max-width: 559px) {
    .intro_section_img {
        width: 100%;
        height: auto;
    }
    .intro_section_img img {
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .intro_section_content {
        width: 100%;
        padding-left: 0;
    }
    .intro_section_content > h1 {
        text-align: center;
        margin-top: 20px;
    }
    .intro_section_content > div > a,
    .intro_section_content > div > button {
        padding: 5px;
        font-weight: var(--normal);
        width: 120px;
        height: 40px;
        margin-right: 10px;
        font-size: 14px;
    }
}